# ----- required by externe

-e file:../konfig#egg=konfig
# konfig >= 2.0
# git+https://github.com/return42/konfig@six#egg=konfig

-e file:../tokenlib#egg=tokenlib
# tokenlib >= 2.0
# git+https://github.com/return42/tokenlib@six#egg=tokenlib

-e file:../hawkauthlib#egg=hawkauthlib
# hawkauthlib >= 2.0
# git+https://github.com/return42/hawkauthlib@six#egg=hawkauthlib

-e file:../pyramid_hawkauth#egg=pyramid_hawkauth
# pyramid_hawkauth >= 2.0
# git+https://github.com/return42/pyramid_hawkauth@six#egg=pyramid_hawkauth

# FIXME: ATM m2crypto is only available for Py2, This is my workaround to build
# m2crypto for Py3 also. For this, a local checkout of the 'six' branch from
#
#   https://github.com/return42/m2crypto/commits/six
#
# is needed.
#
# file:../m2crypto#egg=M2Crypto
# M2Crypto > 0.25.1
git+https://github.com/return42/m2crypto@six#egg=M2Crypto


# --------
# requires
# --------

-e file:../mozservices#egg=mozsvc
# mozservices >= 2.0
# git+https://github.com/return42/mozservices@six#egg=mozsvc

-e file:../PyBrowserID#egg=PyBrowserID
# PyBrowserID >= 2.0
# git+https://github.com/return42/PyBrowserID@six#egg=PyBrowserID

cornice
gevent
pyramid
pyzmq
requests
SQLAlchemy
zope.interface

Paste
PasteDeploy
PasteScript


# --------
# develop
# --------

mock
pip
pylint
pytest
pytest-cov
Sphinx
testfixtures
tox
twine
WebTest
wheel

# ----------------------------
# migration and administration
# ----------------------------

alembic
boto
